---
layout:     default
title:      R3ID
type:       home
navigation: true

excerpt: Hi, I'm Alan. I believe in structured processes, clean design & excellent attention to detail. Problem-solving by delivering innovative solutions which are device-agnostic and accessible to as many visitors as possible through client collaboration.
---

<h2>Case studies</h2>
{% for work in site.casestudy limit:4 %}

  {% include work-summary.html %}

{% endfor %}

<hr>
<p class="availability availability--unavailable">
  I am not currently <strong>considering new projects</strong>.
  {% comment %}<a href="mailto:hello@r3id.io?subject=Let%E2%80%99s%20work%20together">I am currently <strong>considering new projects</strong>.</a>{% endcomment %}
</p>
<hr>

<h2>Articles</h2>
{% for post in paginator.posts %}

  {% include post-summary.html %}

{% endfor %}
