---
layout:     default
title:      R3ID
type:       home
navigation: true

excerpt: Hi, I'm Alan. I believe in structured processes, clean design & excellent attention to detail. Problem-solving by delivering innovative solutions which are device-agnostic and accessible to as many visitors as possible through client collaboration.
---

<h2>Case studies</h2>
{% for post in site.casestudy limit:4 %}

  {% include post-summary.html %}

{% endfor %}

<hr>

<h2>Articles</h2>
{% for post in paginator.posts %}

  {% include post-summary.html %}

{% endfor %}
