<div class="h-0.5 bg-gray-100 dark:bg-black w-full"></div>
<div class="mb-2 mt-8 flex items-center justify-between">
  <h1 class="dark:text-white text-lg text-gray-600">Featured work</h1>
  <a href="/work">
    <p class="cursor-pointer font-medium text-glow text-sm hover:text-gray-900 dark:hover:text-white transition-all">See all</p>
  </a>
</div>
<div class="py-4 grid gap-8">
  <div class="flex items-start">
    <span class="fab fa-shopify pt-1 mr-6"></span>
    <div>
      <h1 class="mb-2 font-bold text-gray-600 dark:text-white">B K Services</h1>
      <p class="paragraph-1 mb-4">Redesign, build and migration over to the new Shopify ecommerce site, while providing IT support and guidance.</p>
      <a href="/work/bks">
        <p class="cursor-pointer font-medium text-glow text-sm hover:text-gray-900 dark:hover:text-white transition-all">Read the story</p>
      </a>
    </div>
  </div>
</div>
<div class="py-4 grid gap-8">
  <div class="flex items-start">
    <span class="far fa-browser pt-1 mr-6"></span>
    <div>
    <h1 class="mb-2 font-bold text-gray-600 dark:text-white">Tarek Osman</h1>
    <p class="paragraph-1 mb-4">Build and design to help promote the work Tarek publishes, while making it easy for the sites English and Arabic users. </p>
    <a href="/work/tarek">
      <p class="cursor-pointer font-medium text-glow text-sm hover:text-gray-900 dark:hover:text-white transition-all">Read the story</p>
    </a>
    </div>
  </div>
</div>
