<div class="py-20 grid justify-center">
  <div class="w-full flex align-middle space-x-4">
    <a href="https://www.linkedin.com/in/alanr3id/" title="LinkedIn">
      <i class="fab fa-linkedin-in text-xl text-blue-600"></i>
    </a>
    <a href="https://twitter.com/alan_r3id" target="_blank" title="Twitter">
      <i class="fab fa-twitter text-xl text-blue-300"></i>
    </a>
    <a href="https://dribbble.com/r3id" target="_blank" title="Dribbble">
      <i class="fab fa-dribbble text-xl text-pink-600"></i>
    </a>
    <a href="https://github.com/r3id" target="_blank" title="GitHub">
      <i class="fab fa-github text-xl text-black"></i>
    </a>
    <a href="https://medium.com/@r3id" target="_blank" title="Medium">
      <i class="fab fa-medium text-xl text-black"></i>
    </a>
  </div>
  <p class="pt-5 pb-5 text-xs font-medium text-center text-gray-400 dark:text-gray-200">
    <a href="/privacy">Privacy</a> <span class="mx-2">&bull;</span> <a href="/terms">Terms</a>
  </p>
  <p class="pt-5 pb-5 text-xs font-medium text-center text-gray-300 dark:text-gray-200">
    © 2021 Alan Reid
  </p>
</div>
