<figure class="img-figure" data-template="with">
  <div class="img-container">
    <div class="img-wrapper" style="padding-bottom: 56.25%">
      {% if include.file %}
    		<img src="{{ include.file | prepend: '/assets/images/' | prepend: site.baseurl }}" alt="{{ include.title }}" class="img" decoding="async"  />
    	{% endif %}
    </div>
    </div>
    {% if include.caption or include.link %}
    <figcaption>
      {{ include.caption }}
      {% if include.link %}
        <a href="{{ include.link }}" title="Visit Website" class="icon image">Visit Website</a>
      {% endif %}
    </figcaption>
    {% endif %}
</figure>
