{% if page.next or page.previous %}

	{% if page.previous %}
		{% assign teaser = page.previous %}
	{% elsif page.next  %}
		{% assign teaser = page.next %}
	{% endif %}

	<section class="teaser" data-animation="fadeInUp">

		<div class="excerpt">

			<span class="title">
		    {% assign words = page.content | number_of_words %}
		    {% if words < 360 %}
		      1 min
		    {% else %}
		      {{ words | divided_by:180 }} mins
		    {% endif %} read
		  </span>

			{% if teaser.title %}
				<h1><a href="{{ teaser.url | prepend: site.baseurl }}" title="{{ teaser.title }}">{{ teaser.title }}</a></h1>
			{% endif %}

			<p>{{ teaser.excerpt | remove: '<p>' | remove: '</p>' }}</p>

			{% if teaser.categories %}
				<span class="meta">

					Published {{ teaser.categories | join: ', ' | prepend: 'in <b>' | append: '</b>' }}

				</span>
			{% endif %}

		</div>

	</section>

{% endif %}
