/*
 * Object: Wrappers
 */

:root { font-size: 10px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  //background: rgb(68,68,68);
  font-family: $font-family;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin:0;
}
