/*
 * Settings
 */

//// Responsive
$bp-larger-phablet                            : 550px !default;
$bp-larger-tablet                             : 750px !default;

$container-larger-phablet                     : 98% !default;
$container-width                              : 1180px !default;

$grid-columns                                 : 16 !default;
$grid-gutter                                  : 0.5% !default;
$column-width                                 : 100 / $grid-columns;


//// Font
$font-family                                  : 'Khula', sans-serif;

//// Global
$global-radius                                : 2px !default;
$white                                        : rgb(255,255,255);
$black                                        : rgb(0,0,0);

//// Colors
$font-default                                 : $black;
$doughnut                                     : rgb(241, 85, 62);
$r3id-default                                 : rgb(141, 198, 63);
$link-default                                 : $r3id-default;
$error-color                                  : rgb(208,2,27);
