/*
 * Utility: Helpers
 */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-pull--right {
  float: right;
}

.u-pull--left {
  float: left;
}

// Self cleaning
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

// Alignment
.u-left { text-align: left; }
.u-center { text-align: center; }
.u-right { text-align: right; }
