---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.text-draplin {
  --tw-text-opacity: 1;
  color:rgba(255, 91, 77, var(--tw-text-opacity))
}
.bg-draplin {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 91, 77, var(--tw-text-opacity));
}

::-moz-selection {
    background-color: hsl(5, 100%, 65%);
    color:#fefefe;
}

::selection {
    background-color: hsl(5, 100%, 65%);
    color: #fefefe;
}

.global-wrapper {
  height: 100%;
  padding-bottom:2.5rem;
}

.default-container {
  display: flex;
  flex-direction: column;
  margin: auto auto 1rem;
  max-width: 42rem;
  padding-left: 1rem;
  padding-right:1rem;
}

.large-container > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom:calc(1rem * var(--tw-space-y-reverse));
}

.large-container {
  margin: auto;
  max-width: 48rem;
  padding-left: .5rem;
  padding-right:.5rem;
}

.text-content {
  & h2 {
    line-height: 1.3rem;
    padding-top: .8rem;
    padding-bottom: 1.3rem;
    font-weight: 600;
    font-size: 1.3rem;
  }

  & h3 {
    line-height: 1.1rem;
    padding-top: .8rem;
    padding-bottom: 1.1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  & p {
    margin-bottom: 1.2rem;
    line-height: 1.8;
  }

  & a {
    color:rgba(255, 91, 77, var(--tw-text-opacity))
  }
}

code {
  font-family: var(--f-mono);
  background: var(--c-text-light);
}

pre {
  margin: 1rem auto;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  code {
    background: #f4f4f4;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-family: "SF Mono", Consolas, monaco, monospace;
    font-size: .85rem;
    padding: 1rem;
    display: block;
    overflow-x: auto;
    white-space: pre;
  }
}

p code,
ul code {
  background: #f4f4f4;
  font-family: "SF Mono", Consolas, monaco, monospace;
  display: inline-block;
  text-indent: 0;
  padding: 0 0.25rem;
  font-size: .85rem;
}

ol, ul, dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-position:inside;
  line-height: 1.8;
}

@media (min-width: 600px) {
  ol, ul, dl { list-style-position:outside; }
}

ol { list-style-type:upper-roman; }

ul { list-style-type:circle; }

li { padding-bottom: 1rem; }

.image-center {
  margin: 2rem auto;
  max-width: 18rem;

  & svg { margin: 0 auto; }
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 3rem auto;
  background: rgb(236, 236, 236);
  width: 9rem;
}

.post-spacer {
  margin: 0 1.3rem;
  height: 1px;
  border: none;
  border-bottom: 1px dotted #777;
  flex: 1 0 1rem;
  opacity: 0.25;
}
