{% include header.html %}

<section class="content">

	<article>

		<header class="" data-animation="fadeInDownBig">

			{% include excerpt.html %}

		</header>

		<div class="body" data-animation="fadeInUp">

			{% if page.type == 'casestudy' %}
				{% include cs-summary.html %}
	    {% endif %}

			{{ content }}

		</div>

		{% if page.type != 'page' %}
		<footer>

			{% include meta.html %}

			{% include pagination.html %}

		</footer>
		{% endif %}

	</article>

</section>

{% include teaser.html %}

{% include footer.html %}
