---
layout: default
class: page-post
---
{% capture words %}
  {{ content | number_of_words | minus: 180 }}
{% endcapture %}

<main class="main">
  <div class="text">
    <h1 class="text-title">
      <a href="/">{{ page.title }}</a>
      {% unless words contains "-" %}
        <p class="time-to">It's a {{ words | plus: 180 | divided_by: 180 | append: " minute read" }}</p>
      {% endunless %}
    </h1>
    <div class="text-content">
      {{ content }}
    </div>

  </div>
  {% include notes.html %}

  {% include footer.html %}
</main>
